<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panther Games</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
{% extends 'base.html' %}
{% block content %}
<div class="p-3 mb-2 bg-dark text-white">
<body style="background-color:#212529;">
<br>
<br>
<center>
<div class="card text-bg-dark mb-3" style="max-width: 2048px;">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="/static/img/PantherGamesBanner.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body ">
          <h5 class="card-title fs-5"> Panther Games </h5>
          <h6 class="card-title fs-5"> Proyecto Final Lenguajes de Interfaz </h6>
          <h6 class="card-title fs-5"> ABC </h6>
          <p class="card-text"><small class="text-muted"> Hecho por: José Antonio Vega Saenz  y Dulce Roxanna Clark Valenzuela <br> 20130160 y 20130044  </small></p>
          <p class="card-text"><small class="text-muted"> </small></p>
      </div>
    </div>
  </div>
</div>
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>
</body>
{% endblock %}
</html>