<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mostrar Ventas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
{% extends 'base.html' %}
{% block content %}
<body style="background-color:#212529;">
<div class="text-bg-dark p-3">
<h1>Datos De Las Ventas</h1>
</div>

<a href="/venta_add"><button class="btn btn-light"> Añadir Nueva Venta </button></a>
<br>
<br>
<center>
<div class="card text-bg-dark p-3 rounded-3 border border-secondary" style="max-width: 85rem;">
  <div class="card-header fs-2">Tabla Venta</div>
  <div class="card-body">
    <table class="table table-dark table-hover border border-white">
<thead>
  <tr>
      <th>ID</th>
      <th>Nombre Videojuego</th>
      <th>Nombre Cliente</th>
      <th>Precio Unitario</th>
      <th>Cantidad</th>
      <th>Precio Final</th>
      <th>Fecha Venta</th>
      <th>Borrar</th>
      <th>Editar</th>

  </tr>
</thead>
    {% for ventas in cdx.ventas %}
            <tr class="fs-5">
            <td>{{ ventas[0] }}</td>
            <td>{{ ventas[1] }}</td>
            <td>{{ ventas[2] }}</td>
            <td>{{ ventas[3] }}</td>
            <td>{{ ventas[4] }}</td>
            <td>{{ ventas[5] }}</td>
            <td>{{ ventas[6] }}</td>
                <td> <a class="btn btn-light" href="/venta_delete/{{ ventas[0] }}/" role="button">Borrar</a></td>
                <td> <a class="btn btn-light" href="/venta_change/{{ ventas[0] }}/" role="button">Editar</a></td>
            </tr>
    {% endfor %}
</table>
  </div>
</div>
</center>
</div>

<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>